.footerContent {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  .typography {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}
